<ion-header>
  <ion-navbar style>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ORDER HISTORY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->

  <ion-card>
      <ion-list no-lines>
        <ion-item>
            <ion-icon name="restaurant" item-start></ion-icon>    
            <b>Grill & Beer</b>    
            <p>12 W. Way St. Madison , WI 53703</p>
          
        </ion-item>
        <ion-item>
            <ion-icon name="pin" item-start></ion-icon>    
            <b>Home</b>    
            <p>14 S. Hop Avenue, Madison,WI 53703</p>
        </ion-item>
        <ion-item>
            <ion-icon name="done-all" item-start></ion-icon>    
            <b style="color:grey">Delivered on September 21, 10:04 AM</b>    
            <p>By Sreekanth</p>
          
        </ion-item>
      </ion-list>
      <hr>
      <ion-item>
       
     <b style="color:#A9AAAE">Bill Details-</b>
    <!-- <ion-card-content>
      <ion-list *ngFor="let i of items ">
        {{i.dishs}}
        <div float-right>${{i.price}}</div>
      </ion-list>
    </ion-card-content> -->
    



    <ion-card-content> Nachos Primera Bowl x 1
   <div float-right>$10</div>
  </ion-card-content>
   <ion-card-content>
      Spanish Bacon Chips x 2
      <div float-right>$22</div>
     </ion-card-content>
     <ion-card-content>
        Apple Martini x 1
        <div float-right>$25</div>
       </ion-card-content>
       <ion-card-content>
          Indian Thali x 1
          <div float-right>$10</div>
         </ion-card-content>
         <ion-card-content>
            Item Total
            <div float-right>$10</div>
           </ion-card-content>
           <ion-card-content>
              Discount Applied
              <div float-right>$10</div>
             </ion-card-content>
             <ion-card-content style="color:grey">
                Paid Via Visa Card
                <div float-right>$54</div>
               </ion-card-content>
            
          </ion-item>
    </ion-card>
</ion-content>
<ion-footer>
    <button ion-button full style="background-color:#FF6F00" [navPush]="pushPage">Reorder</button>
</ion-footer>
